<div id='<%= "comment_#{comment.id}" %>'>
  <p>
    <strong>
      <%= User.find(comment.owner_id).name %>
    </strong>
    says:
  </p>
  <p>
    <%= comment.content %>
    <% if (user_signed_in?) && (current_user.id == comment.owner_id) %>
      <span class="edit-button">
        <%= link_to edit_recipe_comment_path(@recipe.id, comment.id), remote: true do %>
          <i class="far fa-pencil" aria-hidden="true"></i>
        <% end %>
      </span>
      <span class="delete-button">
        <%= link_to recipe_comment_path(@recipe.id, comment.id),
          method: :delete,
          data: { confirm: "Are you sure?" },
          remote: true do %>
            <i class="far fa-trash-o" aria-hidden="true"></i>
          <% end %>
      </span>
    <% end %>
  </p>
</div>
