<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">
      <%= "Add some ingredients" %>
    </h3>
  </div>
  <div class="modal-body">
      <!-- form to select recipe ingredient from existing ingredients and add it to the recipe -->
      <%= simple_form_for(@new_recipe_ingredient, method: :post, url: recipe_new_recipe_ingredient_path, remote: true) do |form| %>
        <%= form.input :ingredient_id, label: 'Select an ingredient', collection: @ingredients %>
        <%= form.button :submit, 'Add ingredient', :class => "btn btn-primary" %>
      <% end %>
  </div>
  <div>
    <p>
      Can't find the right ingedient? Create a new one!
    </p>
    <%= simple_form_for(@new_ingredient, url: recipe_add_new_ingredient_path, remote: true) do |form| %>
      <%= form.input :name, label: 'Ingredient name' %>
      <%= form.button :submit, 'Add ingredient', :class => "btn btn-primary" %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
