<div class="main">
  <%= form_tag recipes_path, method: :get do %>
    <div class="full-search-bar">
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search for recipe by name, ingredient, author, category..."   %>
    </div>
    <div class="full-search-bar">
      <div class="form-inline mb-30">
        <label for="category_id">Category</label>
        <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, selected: params[:category_id]), include_blank: "All categories", class: "form-control" %>
      </div>
      <div class="form-inline mb-30">
        <label for="ingredient_id">Ingredient</label>
        <%= select_tag :ingredient_id, options_from_collection_for_select(Ingredient.all, :id, :name, selected: params[:ingredient_id]), include_blank: "All ingredients", class: "form-control" %>
      </div>
      <div class="mb-30 form-submit">
        <%= submit_tag 'Search', name: nil, class: "btn btn-primary" %>
      </div>
    </div>
    <!-- <span class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </span> -->
  <% end %>
  <div class="nav-container">
    <div class="row">
      <% if @results.nil? %>
        <div class="text-center">
          <br>
          <em style="opacity: 0.5">Find your yum!</em>
        </div>
      <% elsif @results == [] %>
          <div class="text-center">
          <br>
          <em style="opacity: 0.5">Your search did not yield any results - try again!</em>
        </div>
      <% else %>
        <% @results.each do |recipe| %>
          <% if recipe.photos.empty? %>
            <% @recipe_photo_id = "cooking_image_#{rand(10..23)}" %>
          <% else %>
            <% @recipe_photo_id = recipe.photos.where(user_id: recipe.owner_id).sample.image_id %>
          <% end %>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <% if recipe.user.photo.blank? %>
              <% @user_photo = image_path("profile_silhouettes/silhouette_#{rand(1..6)}.png") %>
            <% else %>
              <% @user_photo = cl_image_path(recipe.user.photo.url(:bright_face)) %>
            <% end %>
            <%= render partial: "shared/card", locals: {
                card_background_image_url: cl_image_path(@recipe_photo_id, height: 175, crop: :fill, gravity: :center),
                card_category: recipe.category.name,
                card_title: recipe.name.titleize,
                card_user_image_url: @user_photo,
                card_link: recipe_path(recipe)
              } %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
