<div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(<%= cl_image_path("cooking_image_#{rand(10..23)}", width: 800, height: 300, crop: :fill) %>)">
</div>

<div id="main">
  <!-- Recipe Name -->
  <div id="recipe-title" class="flex align-baseline">
    <h1><%= @recipe.name %></h1>
    <div class="edit-buttons">
      <% if @recipe.owner_id == current_user.id %>
        <span class="editable hidden edit-button">
          <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe,
              edit_recipe_path(@recipe),
              remote: true %>
        </span>
      <% end %>
    </div>
  </div>

  <!-- Recipe Owner Info -->
  <% if @recipe.owner_id %>
    <p>
      Created by <%= @recipe.owner %>
      <% if @recipe.owner_id == current_user.id %>
        (
        <span class="edit-mode">
          <%= link_to "Edit this recipe", "#" %>
          <%= link_to "Click here when done editing", "#", class: "hidden" %>
        </span>
        -
        <%= link_to "Delete this recipe",
                    recipe_path(@recipe),
                    method: :delete,
                    data: { confirm: 'Are you sure you wish to delete this recipe?' } %>
        )
      <% end %>
    </p>
  <% else %>
    <p>(this recipe has no owner)</p>
  <% end %>

  <!-- Modal window -->
  <div id="modal-window" class="modal modal-lg fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

  <!-- Recipe -->
  <div id="recipe">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <!-- Ingredients -->
          <div class="ingredients-container">
            <div id="ingredients-title">
              <%= render 'ingredients/title' %>
            </div>
            <div id="ingredient-list">
              <%= render 'ingredient_list' %>
            </div>

            <!-- New Ingredient -->
            <% if current_user.id == @recipe.owner_id %>
              <div class="editable hidden">
                <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>'.html_safe, recipe_new_recipe_ingredient_path(@recipe),  {:remote => true}  %>
                <h3>Add ingredient</h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <!-- Steps -->
          <div id="steps" class="steps-container">
            <div id="steps-title">
              <%= render 'steps/title' %>
            </div>
            <% if @recipe.steps.blank? %>
              <p>(this recipe has no steps yet)</p>
            <% else %>
              <ol class="sortable" data-url=" <%= sort_recipe_steps_path(params[:id]) %> ">
                <% @recipe.steps.order(:position).each do |step| %>
                  <li id=<%= dom_id(step) %> class="flex-wrap">
                    <%= render 'steps/show', step: step %>
                  </li>
                <% end %>
              </ol>
            <% end %>

            <!-- New step -->
            <div class="new-step editable hidden">
              <% if current_user.id == @recipe.owner_id %>
                <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>'.html_safe, new_recipe_step_path(@recipe),  {:remote => true}  %>
                <h3>Add a step</h3>
                <div class="new-step-form hidden">
                  <%= render 'steps/form', recipe: @recipe, step: @step %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Comments -->
  <div class="comments-container">
    <div id="comments">
      <div id="comments-title">
        <%= render 'comments/title' %>
      </div>
      <% if @recipe.comments.blank? %>
        <p>Be the first to leave a comment for <%= @recipe.name %></p>
      <% else %>
        <% @recipe.comments.each do |comment| %>
          <div id=<%= "comment_#{comment.id}" %> class="flex">
            <%= render 'comments/show', comment: comment %>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- New Comment -->
    <h3>Add a comment</h3>
    <div class="new-comment">
      <%= render 'comments/form', recipe: @recipe, comment: @comment %>
    </div>
  </div>
</div>
