<h1><%= @recipe.name %></h1>
<% if @recipe.owner_id %>
  <h2>Created by <%= @recipe.owner %></h2>
<% else %>
  <h2>(this recipe has no owner)</h2>
<% end %>
<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %>
</div>
<div>
  <%= link_to "Delete this recipe", recipe_path(@recipe),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
</div>
<h2>
  <%= pluralize @recipe.comments.size, "comment" %>
</h2>

<div id="comments">
  <% if @recipe.comments.blank? %>
    Be the first to leave a comment for <%= @recipe.name %>
  <% else %>
    <% @recipe.comments.each do |comment| %>
      <%= render 'comments/show', comment: comment %>
    <% end %>
  <% end %>
</div>

<%= render 'comments/form', recipe: @recipe, comment: @comment %>
