<div class="photo" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url(<%= cl_image_path("cooking_image_#{rand(10..23)}", width: 800, height: 300, crop: :fill) %>)">
</div>

<div class="main">
  <!-- Recipe Name -->
  <div id="recipe-title" class="flex align-baseline">
    <h1><%= @recipe.name.capitalize %></h1>
    <div class="edit-buttons">
      <% if @recipe.owner_id == current_user.id %>
        <span class="editable hidden edit-button">
          <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe,
              edit_recipe_path(@recipe),
              remote: true %>
        </span>
      <% end %>
    </div>
  </div>

  <!-- Recipe Owner Info -->
  <% if @recipe.owner_id %>
    <p>
      Created by <%= @recipe.owner %>
      <% if @recipe.owner_id == current_user.id %>
        <br>
        (
        <span class="edit-mode">
          <%= link_to "Edit this recipe", "#" %>
          <%= link_to "Click here when done editing", "#", class: "hidden" %>
        </span>
        -
        <%= link_to "Delete this recipe",
                    recipe_path(@recipe),
                    method: :delete,
                    data: { confirm: 'Are you sure you wish to delete this recipe?' } %>
        )
      <% end %>
    </p>
  <% else %>
    <p>(this recipe has no owner)</p>
  <% end %>


  <!-- Recipe -->
  <div id="recipe">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <!-- Ingredients -->
          <div class="ingredients-container">
            <div id="ingredients-title">
              <%= render 'ingredients/title' %>
            </div>
            <div id="ingredient-list">
              <%= render 'ingredient_list' %>
            </div>

            <!-- New Ingredient -->
            <% if current_user.id == @recipe.owner_id %>
              <div class="editable hidden">
                <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>'.html_safe, recipe_new_recipe_ingredient_path(@recipe),  {:remote => true}  %>
                <h3>Add ingredient</h3>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <!-- Steps -->
          <div id="steps" class="steps-container">
            <!-- Steps Title -->
            <div id="steps-title">
              <%= render 'steps/title' %>
            </div>
            <!-- Steps list -->
            <div id="step-list">
              <%= render 'steps/show' %>
            </div>
            <!-- New step form -->
            <div class="new-step editable hidden">
              <% if current_user.id == @recipe.owner_id %>
                <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i>'.html_safe, new_recipe_step_path(@recipe),  {:remote => true}  %>
                <h3>Add a step</h3>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Comments -->
  <div id="comments-container">
    <%= render 'comments/show', recipe: @recipe %>
  </div>
  <!-- New Comment -->
  <div id="new-comment">
    <%= render 'comments/form', recipe: @recipe, comment: Comment.new %>
  </div>
</div>
