<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= card_background_image_url %>')">
  <div class="card-category"><%= card_category %></div>
  <div class="card-description">
    <h2><%= card_title %></h2>
    <p>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      <%= " #{card_time} -  "%>
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= " #{card_portions}" %>
    </p>
  </div>
  <!-- removed user photo -->
  <!-- <img class="card-user" src=<%= card_user_image_url %>> -->
  <a class="card-link" href=<%= card_link %> ></a>
</div>
