<div class="modal-content">
  <!-- last recipe photo uploaded by user -->
  <div class="profile-background" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.7)), url(<%= cl_image_path("cooking_image_#{rand(10..23)}", width: 900, height: 200, crop: :fill) %>)"></div>
  <div class="user-info">
    <div class="profile-image">
      <!-- user avatar -->
      <% if @user.photo.url %>
        <%= cl_image_tag @user.photo.url(:bright_face), class: "avatar-large avatar-profile" %>
      <% else %>
        <%= image_tag "profile_silhouettes/silhouette_#{rand(1..6)}.png", class: "avatar-large avatar-profile" %>
      <% end %>
      <!-- pencil badge if current user -->
      <% if @user == current_user %>
        <%= link_to edit_user_registration_path(current_user), :class => "badge profile-badge" do %>
          <i class="far fa-pencil" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
    <h1><%= @user.name %></h1>
    <%= @user.email %>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
